@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=League+Spartan:wght@800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #184363;
    height: 100px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    position: fixed !important;
    width: 100%;
    z-index: 999;
}

nav .logo {
    font-size: 20px;
    color: #fff;
    height: 60px;
    width: 60px;
}

nav ul {
    display: flex;
    gap: 20px;
    text-transform: uppercase;
    margin: 0 160px;
}

nav ul li {
    font-family: 'Inter', sans-serif;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 605px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.hero span {
    font-family: 'League Spartan', sans-serif;
    font-size: 150px;
    font-weight: bold;
    color: #fff;
    margin-top: 180px;
}

.hero p {
    font-family: 'Libre Baskerville', serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    -webkit-text-stroke: 1px #e0ac49;
}

.hero button {
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: #184363;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    padding: 8px 16px;
    width: 200px;
    margin-top: 65px;
    font-weight: bold;
    cursor: pointer;
}

.smart-cities {
    background-image: url("images/isometricwhitebackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.smart-cities h1 {
    font-family: 'Inter', sans-serif;
    color: #098982;
    font-size: 36px;
}

.smart-cities p {
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
    margin-top: 12px;
    font-size: 14px;
    text-align: justify;
}

.smart-cities-right img {
    height: 370px;
    width: 300px;
    margin-top: 40px;
    float: right;
}

.disruptive{
    padding: 36px 80px;
    background-color: #184363;
}
.disruptive h2 {
    font-family: 'Inter', sans-serif;
    color: #e0ac49;
    font-size: 32px;
    text-align: center;
    padding-top: 50px;
}
.disruptive p{
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
    color: #fff;
    text-align: justify;
    font-size: 16px;
    padding: 0 100px;
    padding-bottom: 50px;
    margin-top: 12px;
}

.implement {
    background-image: url("images/isometricwhitebackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
}

.implement h2 {
    font-family: 'Inter', sans-serif;
    color: #902124;
    font-size: 48px;
    text-align: right;
}


.implement-info {
    display: flex;
}

.implement img {
    height: 450px;
    width: 500px;
    float: left;
}

.implement p {
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    font-weight: normal;
    margin-top: 42px;
    text-align: justify;
}


.growth{
    background-color: #184363;
    display: flex;
    flex-direction: column;
    padding: 60px 20%;
    gap: 10px;
}

.growth h2{
    font-family: 'League Spartan', sans-serif;
    color: #e0ac49;
    font-size: 48px;
    text-align: center;
}

.growth h4{
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: normal;
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding-top: 5px;
    font-style: italic;
}

.growth p{
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
    text-align: justify;
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
}

.cities {
    background-color: #098982;
    padding: 20px;
    text-align: center;
}

.cities img {
    height: 330px;
    width: 320px;
    margin: 10px 40px;
}

.cities-info-container {
    background-image: url("images/isometricwhitebackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    display: flex;
    flex-direction: column;
}

.cities-info {
    display: flex;
    padding: 40px 80px;
}

.cities-info:nth-child(2) {
    flex-direction: row-reverse;
}

.cities-info img {
    height: 430px;
    width: 420px;
}

.cities-info h2 {
    font-family: 'League Spartan', sans-serif;
    color: #902124;
    font-size: 32px;
    font-weight: bold;
    margin-top: 40px;
}

.cities-info p {
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
    margin-top: 10px;
    margin-right: 30px;
}

.features{
    background-color: #184363;
    padding: 40px 80px;
}

.features h2{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-size: 48px;
}
.features h3{
    font-family: 'Libre Baskerville', serif;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    margin-top: 12px;
}

.features-container {
    background-image: url("images/isometricwhitebackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
}

.features-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-info:nth-child(even) {
    flex-direction: row-reverse;
}

.features-info img {
    height: 300px;
    width: 300px;
}

.info-box {
    height: 200px;
    width: 840px;
    background-color: #098981;
    text-align: left;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    gap: 20px;
}

.info-box h2 {
    font-family: 'League Spartan', sans-serif;
    font-size: 36px;
}

.info-box p {
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    text-align: justify;
}

.challenges {
    background-color: #184363;
    padding: 40px 20%;
    color: #fff;
    text-align: center;
}

.challenges h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 48px;
}

.challenges p {
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    text-align: justify;
    margin-top: 20px;
}

.challenge-establish {
    background-image: url("images/isometricwhitebackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.challenge-establish h2 {
    font-family: 'League Spartan', sans-serif;
    font-size: 48px;
    color: #184363;
    text-align: center;
}

.box-container {
    display: flex;
    gap: 40px;
}

.box {
    background-color: #098981;
    padding: 25px 25px;
    width: 400px;
}

.box:nth-child(even) {
    background-color: #184363;
}

.box h3 {
    font-family: 'League Spartan', sans-serif;
    color: #fff;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.box p {
    font-family: 'Libre Baskerville', serif;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
}

.proscons {
    background-color: #184363;
    padding: 40px 80px;
    color: #fff;
}

.proscons h1{
    font-family: 'League Spartan', sans-serif;
    padding: 0 100px;
    font-size: 48px;
    text-align: center;
    margin-bottom: 16px;
}

.proscons p{
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    margin-bottom: 32px;
}

.proscons-container {
    display: flex;
    justify-content: space-around;
}

.proscons-box {
    background-color: #fff;
    height: 350px;
    width: 500px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.proscons-box h2 {
    font-family: 'League Spartan', sans-serif;
    font-size: 48px;
    color: #902124;
    text-align: center;
}

.proscons-box ul {
    color: #000;
    align-items: center;
    list-style: numeric;
    width: 80%;
}

.proscons-box li {
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
}

.overview {
    background-color: #098981;
    text-align: center;
    padding: 40px 80px;

}

.overview h1 {
    font-family: 'League Spartan', sans-serif;
    color: #fff;
    font-size: 64px;
}

.philippines {
    background-image: url("images/isometricwhitebackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 40px 80px;
}

.philippines h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 48px;
    color: #184363;
}

.philippines h2 {
    font-family: 'League Spartan', sans-serif;
    font-size: 36px;
    color: #184363;
    margin-top: 40px;
}

.philippines p {
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    text-align: justify;
}

.conclusion {
    background-color: #184363;
    color: #fff;
    margin: 40px 0;
    padding: 30px 40px;
}

.conclusion p {
    text-align: center;
}

.resources {
    background-color: #098981;
    padding: 40px 80px;

}

.resources h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 48px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.resources p {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: #fff;
    font-size: 16px;
}

.footer {
    background-color: #184363;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group {
    font-family: 'Libre Baskerville', serif;
    color: #fff;
    font-size: 24px;
    text-align: left;
}

.footer-logo {
    width: 33.3%;
    text-align: center;
}

.footer-logo img {
    height: 85px;
}

.license {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    color: #fff;
    align-items: center;
    align-content: center;
}

.license img {
    height: 60px;
    width: 175px;
}

html {
    scroll-behavior: smooth;
}
  
