@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #184363;
    height: 100px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    position: fixed !important;
    width: 100%;
    z-index: 999;
}

nav .logo {
    font-size: 20px;
    color: #fff;
    height: 60px;
    width: 60px;
}

nav ul {
    display: flex;
    gap: 20px;
    text-transform: uppercase;
    margin: 0 160px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 665px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.hero span {
    font-size: 120px;
    font-weight: bold;
    color: #fff;
}

.hero p {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    -webkit-text-stroke: 1px #e0ac49;
}

.hero button {
    color: #fff;
    background-color: #184363;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    padding: 8px 16px;
    width: 200px;
    margin-top: 90px;
    font-weight: bold;
    cursor: pointer;
}

.smart-cities {
    background-image: url("images/isometricwhitebackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    padding: 60px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.smart-cities-left {
    width: 60%;
}

.smart-cities h1 {
    color: #098982;
    font-size: 36px;
}

.smart-cities p {
    font-size: 14px;
    text-align: justify;
}

.smart-cities-right {
    width: 40%;
    text-align: center;
}

.smart-cities-right img {
    height: 100%;
    width: 80%;
    margin-top: 40px;
}

.disruptive{
    background-color: #184363;
}
.disruptive h2 {
    color: #e0ac49;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
}
.disruptive p{
    color: #fff;
    text-align: justify;
    font-size: 14px;
    padding: 0 100px;
    padding-bottom: 50px;
    padding-top: 10px;
}

.implement {
    background-image: url("images/isometricwhitebackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    padding: 60px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.implement-right img{
    height: 500px;
    width: 500px;
    float: left;
    image-orientation: 30px;
    display: flex;
}

.implement h2{
    color: #902124;
    text-align: right;
    font-size: 49px;
    padding: 20px 90px;
}
.implement p{
    text-align: justify;
    padding: 30px 90px;
}

.growth{
    background-color: #184363;
}

.growth h2{
    color: #e0ac49;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
}

.growth h4{
    color: #fff;
    font-size: 13px;
    text-align: center;
    padding-top: 5px;
    font-style: italic;
}

.growth p{
    text-align: justify;
    color: #fff;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 5px;
}

.cities{
    background-color: #098982;
    display: flex;
    justify-content: space-between;
    padding: 20px 90px;
    padding-left: 90px;
    padding-top: 90px;
    padding-right: 90px;
    padding-bottom: 90px;
    align-items: center;
    
}
.cities img {
    height: 270px;
    width: 270px;
}

.development{
    background-image: url("images/isometricwhitebackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    padding: 90px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.development h2{
    color: #902124;
    text-align: left;
    font-size: 25px;
    padding-left: 80px;
}
.development p{
    text-align: justify;
    color: #000;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 5px;
}

.development-info-container{
    display: flex;
    flex-direction: row;
}

.development-info-container img{
    height: 500px;
    width: 500px;
    padding-right: 80px;
    
}

.conversion{
    background-image: url("images/isometricwhitebackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    padding: 90px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.conversion-info-container img{
    height: 500px;
    width: 500px;
    float: left;
    image-orientation: 30px;
}

.conversion h2{
    color: #902124;
    text-align: right;
    font-size: 25px;
}

.conversion p{
    text-align: justify;
    color: #000;
}

.asia{
    background-image: url("images/isometricwhitebackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    padding: 60px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.asia h2{
    color: #902124;
    text-align: right;
    font-size: 25px;
    padding-left: 80px;
    padding-right: 90px;
}

.asia p{
    text-align: justify;
    color: #000;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 5px;
}

.asia-info-container{
    display: flex;
    flex-direction: row;
}

.asia-info-container img{
    height: 500px;
    width: 500px;
}

.features{
    background-color: #184363;
}
.features h2{
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
}
.features h3{
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 80px;
    font-style: italic;
}
.icon{
    background-image: url("images/isometricwhitebackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    padding: 90px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.icon-first{
    background-color: #098982;
    text-align: right;
    padding-left: 30px;
    padding-right: 39px;
    padding-bottom: 30px;
}

.icon-first h1{
    color: #fff;
    padding-top: 30px;
}

.icon-first p{
    color: #fff;
    text-align: justify;
}

.icon-second{
    background-color: #098982;
    text-align: left;
    padding-left: 30px;
    padding-right: 39px;
    padding-bottom: 30px;
}

.icon-second h1{
    color: #fff;
    padding-top: 30px;
}

.icon-second p{
    color: #fff;
    text-align: justify;
}

.icon-third{
    background-color: #098982;
    text-align: right;
    padding-left: 30px;
    padding-right: 39px;
    padding-bottom: 30px;
}

.icon-third h1{
    color: #fff;
    padding-top: 30px;
}

.icon-third p{
    color: #fff;
    text-align: justify;
}

.icon-forth{
    background-color: #098982;
    text-align: left;
    padding-left: 30px;
    padding-right: 39px;
    padding-bottom: 30px;
}

.icon-forth h1{
    color: #fff;
    padding-top: 30px;
}

.icon-forth p{
    color: #fff;
    text-align: justify;
}

.icon-fifth{
    background-color: #098982;
    text-align: right;
    padding-left: 30px;
    padding-right: 39px;
    padding-bottom: 30px;
}

.icon-fifth h1{
    color: #fff;
    padding-top: 30px;
}

.icon-fifth p{
    color: #fff;
    text-align: justify;
}

.icon-sixth{
    background-color: #098982;
    text-align: left;
    padding-left: 30px;
    padding-right: 39px;
    padding-bottom: 30px;
}

.icon-sixth h1{
    color: #fff;
    padding-top: 30px;
}

.icon-sixth p{
    color: #fff;
    text-align: justify;
}

.icon-seventh{
    background-color: #098982;
    text-align: right;
    padding-left: 30px;
    padding-right: 39px;
    padding-bottom: 30px;
}

.icon-seventh h1{
    color: #fff;
    padding-top: 30px;
}

.icon-seventh p{
    color: #fff;
    text-align: justify;
}

.challenges{
    background-color: #184363;
}

.challenges img{
    height: 500px;
    width: 500px;
    float: left;
    image-orientation: 30px;
}

.challenges h1{
    color: #e0ac49;
    text-align: center;
    padding-top: 50px;
}
.challenges p{
    color: #fff;
    text-align: justify;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 50px;
    padding-top: 10px;
}

.establish{
    background-image:url("images/isometricwhitebackground.png");
}

.establish h1{
    color: #184363;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.box1{
    background-color: #098982;
    padding: 20px 90px;
}

.box2{
    background-color: #184363;
}

.box3{
    background-color: #098982;
}













.source{
    background-color: #098982;
}
.source h1{
    color: #fff;
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
}
.source p{
    color: #fff;
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 90px;
}